<template>
	
	<header class="HeaderWrapp">
		<nav class="navBar">
			<ul class="mainLink">
				
				<nuxt-link to="/" tag="li"><a>Графики цен</a></nuxt-link>
				<nuxt-link to="/about" tag="li"><a>Автор сайта</a></nuxt-link>

			</ul>
		</nav>
	</header>

</template>

<script>
	export default {
		name: 'Header'
	}
</script>

<style>
	
.HeaderWrapp {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #FF7373;
	height: 72px;
	z-index: 9999;
}

.navBar{
	height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 16px;
	padding: 4px
}

.mainLink {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.mainLink.nuxt-link-exact-active{
	border-bottom:  3px solid #6A48D7;
}

.mainLink a {
	margin: 0 10px;
	display: block;
	text-decoration: none;
	color: white;
}

.mainLink a:hover,
.mainLink a:active,
.mainLink.nuxt-link-active a:active{
	color:  #6A48D7;
}


</style>