<template>
  <div>
    
    <Header />

    <div class="mainContent">
      <nuxt/>
    </div>
  </div>
</template>

<script>
import Header from '@/components/Header/Header'

export default {
  components: {
    Header
  }
}

</script>

<style>

* {
  box-sizing: border-box;
}

body {
  font-family: 'sans-serif';
}

.mainContent{
  margin-top: 72px
}

</style>
