<template>
<div>
		

  <div class="mainWrapper">
    
    <b-card no-body>
	  <b-tabs pills card vertical>
	    <b-tab title="АИ92" active>
	      <ChartPrice
  			 
  			:labels="data[0].nameCompany"
  			:dataPrice="data[0].Dataprice.ai92" />

	    </b-tab>
	    <b-tab title="АИ95" class="tabChart" active>

	      <ChartPrice 
  			
  			:labels="data[0].nameCompany"
  			:dataPrice="data[0].Dataprice.ai95" />
	    </b-tab>
	    
	  </b-tabs>
	</b-card>

    

  </div>

  <div class="weekChart">
  	<b-card no-body>
	  <b-tabs pills card vertical>
	    <b-tab title="ГазПромНефть" active>
	    	
	    	<b-form-select v-model="selected" :options="options" class="mb-3">
		      <template slot="first">
		        <!-- this slot appears above the options from 'options' prop -->
		        <option :value="null" disabled>-- Выберете опцицию --</option>
		      </template>
		      <!-- these options will appear after the ones from 'options' prop -->
		      <option value="АИ92">АИ92</option>
		      <option value="АИ95">АИ95</option>
		    </b-form-select>

		    <div>Выбранно: <strong>{{ selected }}</strong></div>

	    	<LineChart v-show="selected === 'АИ92'" :labels="addDay()" :dataPrice="addPrice('ai92',0)" class="mainWrapper__content" />
	    	
			<LineChart v-show="selected === 'АИ95'" :labels="addDay()" :dataPrice="addPrice('ai95',0)"  class="mainWrapper__content"/>

	    </b-tab>
	    <b-tab title="Shell" class="tabChart" active>
			
			<b-form-select v-model="selected" :options="options" class="mb-3">
		      <template slot="first">
		        <!-- this slot appears above the options from 'options' prop -->
		        <option :value="null" disabled>-- Выберете опцицию --</option>
		      </template>
		      <!-- these options will appear after the ones from 'options' prop -->
		      <option value="АИ92">АИ92</option>
		      <option value="АИ95">АИ95</option>
		    </b-form-select>

		    <div>Выбранно: <strong>{{ selected }}</strong></div>

	    	<LineChart v-show="selected === 'АИ92'" :labels="addDay()" :dataPrice="addPrice('ai92',1)" class="mainWrapper__content" />
	    	
			<LineChart v-show="selected === 'АИ95'" :labels="addDay()" :dataPrice="addPrice('ai95',1)"  class="mainWrapper__content"/>
	      
	    </b-tab>

	    <b-tab title="EKA" class="tabChart" active>
			<b-form-select v-model="selected" :options="options" class="mb-3">
		      <template slot="first">
		        <!-- this slot appears above the options from 'options' prop -->
		        <option :value="null" disabled>-- Выберете опцицию --</option>
		      </template>
		      <!-- these options will appear after the ones from 'options' prop -->
		      <option value="АИ92">АИ92</option>
		      <option value="АИ95">АИ95</option>
		    </b-form-select>

		    <div>Выбранно: <strong>{{ selected }}</strong></div>

	    	<LineChart v-show="selected === 'АИ92'" :labels="addDay()" :dataPrice="addPrice('ai92',2)" class="mainWrapper__content" />
	    	
			<LineChart v-show="selected === 'АИ95'" :labels="addDay()" :dataPrice="addPrice('ai95',2)"  class="mainWrapper__content"/>
	      
	    </b-tab>
	    
	  </b-tabs>
	</b-card>
  </div>

</div>
</template>

<script>
import ChartPrice from '@/components/ChartComponent/ChartPrice'
import LineChart from '@/components/ChartComponent/LineChart'

export default {
  components: {
  	ChartPrice,
  	LineChart
  },
  data() {
  	return{
  		selected: null,
  		data: [
        {
          id: 1, 
          date: '19.08', 
          nameCompany: ['ГазПромНефть', 'Shell', 'EKA'],
          Dataprice: {ai92: [42.13, 41.29, 41.95], ai95: [45.8, 45.99, 44.24]}
        },
        {
          id: 2, 
          date: '18.08', 
          nameCompany: ['ГазПромНефть', 'Shell', 'EKA'],
          Dataprice: {ai92: [41.9, 42.29, 41.95], ai95: [44.23, 45.99, 44.24]}
        },
        {
          id: 3, 
          date: '17.08', 
          nameCompany: ['ГазПромНефть', 'Shell', 'EKA'],
          Dataprice: {ai92: [41.9, 42.29, 41.95], ai95: [46.1, 45.99, 44.24]}
        },
        {
          id: 4, 
          date: '16.08', 
          nameCompany: ['ГазПромНефть', 'Shell', 'EKA'],
          Dataprice: {ai92: [41.9, 42.29, 41.95], ai95: [42.9, 45.99, 44.24]}
        },
        {
          id: 5, 
          date: '15.08', 
          nameCompany: ['ГазПромНефть', 'Shell', 'EKA'],
          Dataprice: {ai92: [41.9, 42.29, 41.95], ai95: [45.8, 45.99, 44.24]}
        } 
      ]
  	}
  },
  methods: {
  	addDay() {
  		let obj = []

  		this.data.forEach( function(element, index) {
  			obj.push(element.date)
  		});
  		console.log(obj)
  		return obj
  	},
  	addPrice(a,i){
  		let obj = []

  		switch (a) {
  			case 'ai92':
  				this.data.forEach(function(element) {
  				obj.push(element.Dataprice.ai92[i])
  				})
  				break;
  			case 'ai95':
  				this.data.forEach(function(element) {
  				obj.push(element.Dataprice.ai95[i])
  				})
  				break;
  			
  		}

  		
  		this.data.forEach(function(element) {
  			obj.push(element.Dataprice.ai92[i])
  		})
  		console.log(obj)
  		return obj

  		obj = []
  	}
  }
}
</script>

<style scoped>

.mainWrapper{
	display: flex;
	justify-content: center;
	align-items:  center;
	margin-top: 75px;
	width: 100%;
	height: 90%;
}

.mainWrapper__content{
	width: 50%;
}

.tabChart{
	width: 100%;
}

.weekChart{
	width: 70%;
	height:  70%;
}

..weekChart__content {
	width: 70%
}

</style>
